form {
    width: 400px;
    height: 400px;
    border: 1px solid;
    border-radius: 13px;
    background: url(./877756-new-wallpaper-laptops-1920x1200-macbook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hue;
    background-color: rgba(0, 0, 0, 0.289);
}

input {
    height: 30px;
    width: 250px;
    border-radius: 20px;
    border: 1px solid rgba(128, 128, 128, 0.805);
    font-size: 16px;
    padding-left: 10px;
}

label {
    font-size: 20px;
    color: rgb(154, 141, 141);
}

#btn {
    width: 120px;
    height: 30px;
    font-size: 20px;
}

#error {
    color: red;
    position: absolute;
    top: 139px;
    left: 586px;
}

#errorG1 {
    color: red;
    position: absolute;
    top: 280px;
    left: 601px;
}

#wrong {
    color: red;
    position: absolute;
    top: 212px;
    left: 601px;
}